<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, eu sou Diego Gonçalves</h1>
    <p>Eu fiz esse blog através dos exercícios do Mackenzie Child</p>
    <p>Tem sido uma jornada muito boa o aprendizado de Ruby on Rails e construí esse blog usando Rails 5</p>
    <p>Mais alguns exemplos de coisas que eu já aprendi pode ser encontrado no meu <a href="https://github.com/DiegoRamires">Github</a></p>
  </div>
</div>